@import "../../src/assets/css/common.scss";

.contentWrapper {
    display: flex;
    justify-content: center;
}

.info {
    font-size: 1.5rem;
    letter-spacing: 3px;
    line-height: 50px;
    margin: 10% 0 0 3rem;
}